{% extends 'base.html.twig' %}

{% block body %}
<p>Prenom :  {{ participant.prenom }}</p>
<p>Nom :  {{ participant.nom }}</p>
<p>Telephone :  {{ participant.telephone }}</p>
<p>Email :  {{ participant.email }}</p>
<p>Campus :  {{ participant.campus.nom }}</p>
<div id="photoprofil">
    {% if participant.photo %}
        <img src=" {{ asset("photoprofil/"~participant.photo.photoprofil )}} " >
    {% else %}
        <img src=" {{ asset("photoprofil/default.png" )}} " >
    {% endif %}
</div>
    <button><a href="{{ path('sortie_list') }}" style="text-decoration: none">Retour</a></button>
{% endblock %}

{#
{{ id.photo ? id.photo : default }}#}
