{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>{{ sortie.nom }}</h1>
    <p>Organisé par {{ sortie.organisateur.username }}, du campus de {{ sortie.campusOrganisateur.nom }}</p>
    <div>Description et infos : {{ sortie.infosSortie }}</div> <br>
    {% if sortie.dateHeureDebut is not null%}
        <div>Sortie prévue le {{ sortie.dateHeureDebut | date('d/m/y H:i') }}</div> <br>
    {% else %}
        <div>La date de sortie n'est pas encore fixée.</div><br>
    {% endif %}
    <div>Durée estimée : {{ sortie.duree | date('H:i:s') }}, date limite d'inscription : {{ sortie.dateLimiteInscription | date('d/m/y H:i') }} </div> <br>
    <div>Nombre de participants max : {{ sortie.nbInscriptionMax }}</div><br>
    <div>Lieu : {{ sortie.lieu.nom }}, {{ sortie.lieu.rue }}</div><br>
    <div>Ville : {{ sortie.lieu.ville.nom }}, {{ sortie.lieu.ville.codePostal }}</div><br>
    <div>Latitude : {{ sortie.lieu.latitude }}°, longitude : {{ sortie.lieu.longitude }}°</div>


    <p>Participants : </p>
    {% if nbParticipants == 0 %}
        <h5><b>Il n'a pas encore de participants inscrit à la sortie.</b></h5>
    {% else %}
        <div><label>Pseudo : </label>   <label>Nom : </label></div>
        <nav>
            {% for participant in participants %}
                <div id="pseudo"> ° {{ participant.username }} | </div> <div> {{ participant.prenom }} {{ participant.nom }}</div> <br>
            {% endfor %}
        </nav>
    {% endif %}
{% endblock %}
